.PostingPaper {
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  
}

.PostingForm {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.card {
  margin-bottom: 1rem ;
  padding-top: 1rem;
  padding-left: 1rem;
   padding-right: 1rem;
   padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

}

.Button2{
  margin-right: 7rem;
}
body{
  background-color: #dcd2c9;
}